# Amazon SES Configuration
SES_REGION="PASTE_VALUE_HERE"
SES_FROM_EMAIL="PASTE_VALUE_HERE"
FEEDBACK_FROM_EMAIL="PASTE_VALUE_HERE"
FEEDBACK_TO_EMAIL="PASTE_VALUE_HERE"
MAIL_FROM="PASTE_VALUE_HERE"

SES_CONFIGURATION_SET="PASTE_VALUE_HERE"
SES_TAG_KEY="PASTE_VALUE_HERE"

NEXT_PUBLIC_UMAMI_SITE_ID="PASTE_VALUE_HERE"